<body id="project">
  <h1 class="projectText" id="headerSize2">Projects:</h1>
  <br>
  <h1 class="projectText"><a href="https://github.com/sadie767/spin_again">Spin Again: A Record Store Using Ruby and Ajax.</a></h1>
  <br>
  <h1 class="projectText"><a href="https://github.com/sadie767/travel">Travel: An API Designed With Ruby on Rails.</a></h1>
  <br>
  <h1 class="projectText"><a href="https://github.com/sadie767/pingPong">Ping Pong: An Algorithmic App Using JavaScript.</a></h1>
  <br>
  <h1 class="projectText"><a href="https://github.com/sadie767/Marios_Wine">Mario's Wine: A Site Designed to Practice CRUD Capability Using Ruby on Rails.</a></h1>
</body>
