
<div class="jumbotron">
  <body id="yoga">
    <h1 id="header">Work Experience:</h1>
    <br>
    <h2 class="titlePlace">Bikram Yoga:<br><span class="size"> Nov 2005-July 2017</span></h2>
    <h4 class="downPage">Yoga Instructor</h4>
    <h4 class="titlePlace">Lehi, Utah</h4>
    <br>
    <h2 class="titlePlace">Eva:<br><span class="size"> April 2010-July 2017</span></h2>
    <h4 class="downPage">Server</h4>
    <h4 class="titlePlace">Salt Lake City Utah</h4>
    <br>
    <h2 class="titlePlace">Holland America:<br><span class="size"> April 2008-June 2008</span></h2>
    <h4 class="downPage">Tour Director</h4>
    <h4 class="titlePlace">Anchorage, Alaska</h4>
    <br>
    <h2 class="titlePlace">Konditor & Cook:<br><span class="size"> Jan 2004-July 2004</span></h2>
    <h4 class="downPage">Bakery Shop Assistant</h4>
    <h4 class="titlePlace">London, U.K.</h4>
  </body>
</div>
