<div class="container">
  <h1 id="header">Work Experience</h1>
  <br><br>
  <body id="yoga">
    <h3 class="titlePlace">Bikram Yoga:&nbsp;&nbsp;<span class="size"> Nov 2005-July 2017</span></h3>
    <h4 class="downPage">Yoga Instructor</h4>
    <h4 class="titlePlace">Lehi, Utah</h4>
    <br>
    <h3 class="titlePlace">Eva:&nbsp;&nbsp;<span class="size"> April 2010-July 2017</span></h3>
    <h4 class="downPage">Server</h4>
    <h4 class="titlePlace">Salt Lake City Utah</h4>
    <br>
    <h3 class="titlePlace">Holland America:&nbsp;&nbsp;<span class="size"> April 2008-June 2008</span></h3>
    <h4 class="downPage">Tour Director</h4>
    <h4 class="titlePlace">Anchorage, Alaska</h4>
    <br>
    <h3 class="titlePlace">Konditor & Cook:&nbsp;&nbsp;<span class="size"> Jan 2004-July 2004</span></h3>
    <h4 class="downPage">Bakery Shop Assistant</h4>
    <h4 class="titlePlace">London, U.K.</h4>
  </body>
</div>
