
<body id="yoga">
  <div class="row">
    <div class="col-md-6">
      <img src='https://i.pinimg.com/736x/47/3e/57/473e57bcc621a5b474e0b35db832434e.jpg'>
    </div>
    <div class="col-md-6">
      <div class="border">
        <h2 id="header">Work Experience:</h1>
        <br>
        <h4 class="titlePlace">Game Set Match:<br><span class="size"> Jan 2018-February 2018</span></h4>
        <h4 class="downPage">Intern for a Ruby on Rails App</h4>
        <h4 class="titlePlace">Remote Internship</h4>
        <br>
        <h4 class="titlePlace">Bikram Yoga:<br><span class="size"> Nov 2005-July 2017</span></h4>
        <h4 class="downPage">Yoga Instructor</h4>
        <h4 class="titlePlace">Lehi, Utah</h4>
        <br>
        <h4 class="titlePlace">Eva:<br><span class="size"> April 2010-July 2017</span></h4>
        <h4 class="downPage">Server</h4>
        <h4 class="titlePlace">Salt Lake City Utah</h4>
        <br>
        <h4 class="titlePlace">Holland America:<br><span class="size"> April 2008-June 2008</span></h4>
        <h4 class="downPage">Tour Director</h4>
        <h4 class="titlePlace">Anchorage, Alaska</h4>
        <br>
    </div>
  </div>
</div>
</body>
