<div class="container">
  <h1 id="header">Work Experience</h1>
  <br><br>
  <body id="yoga">
    <h2 class="titlePlace">Bikram Yoga</h2>
    <h4 class="downPage">Yoga Instructor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nov 2005-July 2017</h4>
    <h4 class="titlePlace">Lehi, Utah</h4>
    <br>
    <h2 class="titlePlace">Eva</h2>
    <h4 class="downPage">Server&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;April 2010-July 2017</h4>
    <h4 class="titlePlace">Salt Lake City Utah</h4>
    <br>
    <h2 class="titlePlace">Holland America</h2>
    <h4 class="downPage">Tour Director&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;April 2008-June 2008</h4>
    <h4 class="titlePlace">Anchorage, Alaska</h4>
    <br>
    <h2 class="titlePlace">Konditor & Cook</h2>
    <h4 class="downPage">Bakery Shop Assistant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jan 2004-July 2004</h4>
    <h4 class="titlePlace">London, U.K.</h4>
  </body>
</div>
