<h1 id="header">Work Experience</h1>
<body id="yoga">
  <div class="row" id="downPage">
    <div id='marginLeft' class="col-md-6">
      <h3>Bikram Yoga</h3>
      <h4>Yoga Instructor</h4>
      <h4>Lehi, Utah</h4>
      <br>
      <h3>Eva</h3>
      <h4>Server</h4>
      <h4>Salt Lake City Utah</h4>
      <br>
      <h3>Holland America</h3>
      <h4>Tour Director</h4>
      <h4>Anchorage, Alaska</h4>
      <br>
      <h3>Konditor & Cook</h3>
      <h4>Bakery Shop Assistant</h4>
      <h4>London, U.K.</h4>
    </div>
    <div class="col-md-6" id="margin">
      <br>
      <h4>Nov 2005-July 2017</h3>
      <br><br><br><br>
      <h4>April 2010-July 2017</h3>
      <br><br><br><br>
      <h4>April 2008-June 2008</h4>
      <br><br><br><br>
      <h4>Jan 2004-July 2004</h4>
    </div>
  </div>
</body>
