<body id="about">

<div id="portrait"><%= image_tag('portrait.jpg', height: 750) %></div>
<h1 class="aboutText" id="headerSize">About Rebecca:</h1>

<h2 class="aboutText">I live with my 3 year old son, Sebastian, and my cat Justine.  Sebastian is the <em>love</em> of my life.
My favorite past-time is watching art films in the theater proper
I love rock and roll and have djed at various clubs in Salt Lake City, Utah off and on for 17 years.
I practice yoga daily, and will eventually study plant medicine to learn about creating balance in the systems of the body.</h2>
</body>
