#portrait {
   float: right;
   margin-left: 50px;
}

body#about {
  background-color: #072607;
}

.aboutText {
  color: #bfbfbf;
  text-shadow: 2px 2px black;
  font-family: 'Lobster';
}

#headerSize {
  font-size: 50px;
}
