body#yoga {
  background-color: black;
}

@media (max-width: 480px) {
    body#yoga {
        background-image: none;
    }
    .jumbotron {
      width: 100%;
      background-color: black;

    }
}

.downPage {
  color: #bfbfbf;
  font-family: 'Bellefair';
}

.size {
  font-size: 13px;
}

.titlePlace {
  color: #bfbfbf;
  font-family: 'Bellefair';
}

#margin {
  left: 220px;
}

#header {
  color: #bfbfbf;
  text-align: justify;
  font-family: 'Bellefair';
}

#marginLeft {
  left: 150px;
}

.border {
  margin-right: 10%;
  padding-left: 5%;
  background-color: black;
  border: 3px solid white;
}
