#record {
  height: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 50px;
  margin-bottom: 50px;
}


#name {
  text-align: center;
  margin-top: 150px;
  list-style: none;
  font-family: 'Tangerine', sans-serif;
  font-size: 150px;
 }
